img{
    width: 300px; /* задаем ширину изображения */
    height: auto; /* высота изменится пропорционально */
    border: 1px solid #ccc; /* добавляем тонкую рамку вокруг изображения */
    padding: 5px; /* добавляем небольшой внутренний отступ */
    margin: 5px; /* добавляем отступы вокруг изображения */
}
body {
    background-color: #ffde9870; /* Светло-серый цвет фона */
}
